/* Alapértelmezett betűtípus és méret */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
}


h1, h2, h3, h4, h5, h6 {
    font-weight: 800;
}


.bg-black {
    background-color: black !important;
}


.navbar-custom {
    padding-top: 10px !important; /* Példa, az eredeti -30px */
}